In [ ]:
# Stuff that will appear at the top of notebooks;
# You don't have to understand how this works or change it for now.

from datascience import *
import numpy as np

# Data Types: ints versus floats
Let's review using ints and floats

In [ ]:
# assign num1 to an integer
num1 = 42
num1

In [ ]:
# assign num2 to a float
num2 = 4.7890
num2

In [ ]:
# find out the type of a variable
type(num2)

In [ ]:
# convert from an integer to a float
float(num1)

In [ ]:
result = (num1 + num2)**3

In [ ]:
result

# Strings and string manipulation
Let's concatenate, replace, access substrings

In [ ]:
firstName = 'Vanessa'
lastName = 'Santillan'
fullName = firstName + ' ' + lastName + ' !'
fullName

In [ ]:
fullName

In [ ]:
#a string can be long
text = 'I hope you are enjoying CS 118. Is the semester going well so far?'
text

In [ ]:
#try replace
characters = text.replace('CS', 'MATH').replace('.','!!')
characters

In [ ]:
#Access a sub string
characters[0:10]

### What happens if we try to add or concatenate a string with a number

In [ ]:
name = 'Noel'
name

In [ ]:
number = 5

In [ ]:
# try to add name and number
username = name + str(number)
username

In [ ]:
# make an array of numbers
make_array(1,2,3,4)

In [ ]:
# make an array of strings
make_array('one', 'two', 'three')

In [ ]:
someInput = 0.4567

### Is someInput a number? Let's use type() to figure it out

In [ ]:
type(someInput)

## Boolean data type and comparisons

In [ ]:
# Create a boolean
myval = False
myval

In [ ]:
value1 = 34
value2 = 7

In [ ]:
value1 != value2

In [ ]:
#Let's compare value1 with value2?

In [ ]:
a1 = make_array(1,2,3,1,1)
a2 = make_array(5,4,3,2,1)

In [ ]:
# What boolean expression may be interesting when working with array a1 and a2 above?

In [ ]:
a1 > 1

## Tables & Arrays
- review arrays, create a simple array and add it to a table

In [ ]:
# make an array from scratch and access items in array (2 different ways)
myArray = make_array(13,43,22,5,21)
myArray

In [ ]:
Table().with_columns('First', myArray, 'Second', myArray)

In [ ]:
# create a generic array using np.arange()
myArray2= np.arange(1000)
myArray2

## Arrays versus Lists
Let's add a new row to the table by making a list

In [ ]:
icecream = Table().read_table('cones.csv')
icecream

In [ ]:
#can we make a new array and add it as a column?
numGallons = make_array(23,12,45,2,5, 8)
icecream = icecream.with_column('Inventory', numGallons)
icecream

In [ ]:
#can we make a new list and add it as a row?
newItem = ['lemon', 'white',5.95, 2]
newItem

In [ ]:
icecream = icecream.with_row(newItem)
icecream

### Using take() and select()

In [ ]:
#Make a table with just the first row
icecream.take(0,4)

In [ ]:
#Make a table with just the first column
icecream.select('Color', 'Price')

### A famous example: Minard's Map
Use the table functions we learned this week to find the southernmost city along the armyâ€™s retreat.

In [ ]:
minard = Table.read_table('minard.csv')
minard

In [ ]:
minard.where('Direction', 'Retreat').sort('Latitude').take(0).select('City')